[Desktop Entry]
Type=Application
Version=1.0
Name=Newseum
GenericName=RSS Reader
Comment=View your feed
Icon=/usr/share/icons/breeze/actions/24/rss-symbolic.svg
Exec=newseum
Terminal=true
Categories=ConsoleOnly;
