[Desktop Entry]
Type=Application
Version=1.0
Name=Newseum
GenericName=RSS Reader
Comment=View your feed
Icon=application-rss+xml
Exec=newseum
Terminal=true
Categories=ConsoleOnly;
